:root{

    /* Brand */

    --primary:#7C5CFF;
    --primary-light:#9E86FF;
    --secondary:#38BDF8;

    /* Background */

    --background:#09090B;
    --surface:#11131A;
    --card:#181B24;

    /* Text */

    --text:#FFFFFF;
    --text-light:#B8BCC8;
    --text-muted:#7B8091;

    /* Border */

    --border:rgba(255,255,255,.08);

    /* Radius */

    --radius-sm:12px;
    --radius-md:18px;
    --radius-lg:28px;
    --radius-xl:36px;

    /* Shadow */

    --shadow:
        0 20px 60px rgba(0,0,0,.45);

    /* Blur */

    --blur:blur(22px);

    /* Transition */

    --transition:.28s ease;

    /* Width */

    --container:1280px;

}
